<div class="container" style='background: white;'>
  <div>
     <a style="margin-left: 99%;cursor: pointer;" (click)="cancle()"><i class="fa fa-window-close" aria-hidden="true"></i></a>
    <h3>Reset Your Password</h3>
    <p>Please provide the email address you used when you signed up for your Gmail account.</p>
    <p>We will send you an email with a link to reset your password.</p>
  </div>
  <form action="">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Your registered email" aria-label="Your registered email" aria-describedby="button-addon2">
      <br/>
        <button class="btn btn-outline-secondary" style='margin-top: 5%; margin-bottom: 3%;' type="button" id="button-addon2">Send Email</button>

    </div>
  </form>
</div>
